<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome {{ user.name }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/shop/">Shop </a></li>
      <li><a href="/shop/cart">Cart &nbsp {{ user.cart_size }}</a></li>

    </ul>
  </div>
</nav>

<div class="container">
    {% block body  %}
    {% endblock %}
</div>

</body>
</html>



</body>
</html>